@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0;
  color: #000000;
  background-color: #ffffff;
  width: 1200px;
}

/* header */

.navigation {
  display: flex;
  padding: 0 0 0 70px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 20px 16px;
  list-style-type: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.navigation-user {
  display: grid;
  grid-template-columns: repeat(2, 44px);
  margin: 0 0 0 285px;
}

.navigation-user-item:nth-of-type(1) {
  background-image: url("../images/icons-search.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -5px;
  list-style-type: none;
  cursor: pointer;
}

.navigation-user-item:nth-of-type(2) {
  background-image: url("../images/icons-heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -5px;
  list-style-type: none;
  cursor: pointer;
}

.notification-badge {
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #ffffff;
  background: #7db54f;
  border-radius: 50%;
  margin-left: 25px;
  padding: 1px 2px;
  list-style-type: none;
  position: relative;
  top: 18px;
  right: 4px;
}

.navigation-user-link-favorite {
  text-decoration: none;
}

.header-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  padding: 8px 34px 8px 34px;
  margin: 14px 0 24px 20px;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
}

.visually-hidden {
  position: fixed;
  display: none;
}

/* main */

.main-index {
  display: flex;
  flex-direction: column;
  width: 1200px;
  flex-grow: 1;
}

.hero {
  width: 1200px;
  background-color: #f2f2f2;
  background-image: url("../images/divider-vector.svg"), url("../images/index-background.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: left bottom, left top;
  margin-top: -10px;
  z-index: -1;
}

.hero-img {
  display: block;
  margin: 0 auto;
  padding: 51px 371px 82px 371px;
}

.lead-first {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 69px 290px 0 290px;
}

.basic-first {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 69px;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: repeat(3, 385px);
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.advantages-item:first-child  {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-color: #82b3d3;
  list-style-type: none;
}

.advantages-item:first-child .advantages-title::after,
.advantages-item:last-child .advantages-title::after {
  position: absolute;
  width: 60px;
  height: 2px;
  background: #ffffff4d;
  top: 86px;
  left: 58px;
  content: "";
}

.advantages-item:first-child .advantages-title,
.advantages-item:last-child .advantages-title,
.advantages-item:first-child .advantages-description,
.advantages-item:last-child .advantages-description {
  color: #ffffff;
}

.advantages-item .advantages-title {
  position: relative;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin: 102px 112px 0 112px;
}

.advantages-item .advantages-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 62px 85px 102px 85px;
}

.advantages-item:nth-child(3) {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-color: #83b3d31f;
  list-style-type: none;
}

.advantages-item:nth-child(4) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: #83b3d333;
  list-style-type: none;
}

.advantages-item:nth-child(5) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  background-color: #83b3d31f;
  list-style-type: none;
}

.advantages-item:nth-child(3) .advantages-title::after,
.advantages-item:nth-child(4) .advantages-title::after,
.advantages-item:nth-child(5) .advantages-title::after {
  position: absolute;
  width: 60px;
  height: 2px;
  background: #0000004d;
  top: 86px;
  left: 58px;
  content: "";
}

.advantages-img:nth-child(2) {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
}

.advantages-item:last-child {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  background-color: #82b3d3;
  list-style-type: none;
}

.lead-last {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 64px 347px 0 347px;
}

.basic-last {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 64px;
}

.infrastructure-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: 385px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.infrastructure-item:nth-of-type(1) {
  background-color:  #83b3d31f;
  background-image: url("../images/home.svg");
  background-repeat: no-repeat;
  background-position: top 82px right 163px;
}

.infrastructure-item:nth-of-type(2) {
  background-color: #ffffff;
  background-image: url("../images/food.svg");
  background-repeat: no-repeat;
  background-position: top 82px right 163px;
}

.infrastructure-item:nth-of-type(3) {
  background-color:  #83b3d31f;
  background-image: url("../images/souvenir.svg");
  background-repeat: no-repeat;
  background-position: top 82px right 163px;
}

.infrastructure-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 183px;
  margin-bottom: 30px;
}

.infrastructure-description {
  text-align: center;
  margin: 0 85px 81px 85px;
}

.search-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin: 96px 451px 0 451px;
}

.search-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 20px 304px 54px 304px;
}

.search-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  padding: 8px 50px 8px 50px;
  border-radius: 4px;
  gap: 10px;
  margin: 0 412px 0 412px;
}

.subscribe {
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 96px;
}

.subscribe-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  margin: 0;
  padding-top: 96px;
  color: #ffffff;
  text-transform: uppercase;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 20px 362px 54px 362px;
  color: #ffffff;
}

.subscribe-form {
  display: flex;
  align-items: baseline;
  margin: 54px 0 0 258px;
}

.field {
  line-height: 24px;
  font-size: 18px;
  font-weight: 400;
  padding: 15px 194px 13px 20px;
  border: none;
  border-radius: 4px 0 0 4px;
  gap: 260px;
}

.subscribe-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0 258px 104px 0;
  padding: 8px 39px 8px 39px;
  border: none;
  border-radius: 0 4px 4px 0;
  background: #82b3d3;
  cursor: pointer;
}

/* footer */

.footer {
display: flex;
margin: 45px;
justify-content:space-between;
}

.footer-social-list {
  display: grid;
  grid-template-columns: repeat(3, 48px);
  grid-template-rows: 40px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.footer-social-item:nth-of-type(1) {
  background-image: url("../images/vk.svg");
  background-repeat: no-repeat;
  background-position: center;
  list-style-type: none;
}

.footer-social-item:nth-of-type(2) {
  background-image: url("../images/telegram.svg");
  background-repeat: no-repeat;
  background-position: center;
  list-style-type: none;
}

.footer-social-item:nth-of-type(3) {
  background-image: url("../images/youtube.svg");
  background-repeat: no-repeat;
  background-position: center;
  list-style-type: none;
}

.footer-logo {
  margin-top: 4px;
}
/* catalog */

.filters {
  background-image: url("../images/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1200px;
}

.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  color: #ffffff;
  margin: 0 0 0 70px;
  padding-top: 35px;
}

.breadcrumbs {
  display: flex;
  margin: 8px 0 0 70px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  margin: 0;
  padding: 0;
}

.breadcrumbs-home-link {
  width: 13px;
  height: 15px;
  background-image: url("../images/icons-home.svg");
  background-repeat: no-repeat;
  background-position: center;
  list-style-type: none;
  display: inline-block;
}

.breadcrumbs-item-logo {
  width: 13px;
  height: 15px;
  background-image: url("../images/icons-breadcrumbs.svg");
  background-repeat: no-repeat;
  background-position: center;
  list-style-type: none;
  margin-left: 10px;
  display: inline-block;
  border-style: none;
}

.breadcrumbs-link {
  font-size: 16px;
  text-align: left;
  color: #ffffff;
  margin-left: 10px;
  text-decoration: none;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group-left {
  width: 150px;
  margin: 40px 0 0 70px;
  border-style: none;
  padding: 0;
}

.catalog-filter-group-right {
  width: 549px;
  margin: 40px 0 70px 140px;
  padding: 0;
  border-style: none;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
}

.catalog-filter-list {
  padding: 0;
  margin: 32px 0 73px 0;
}

.catalog-filter-item {
  line-height: 23px;
  text-align: left;
  color: #ffffff;
  list-style-type: none;
  margin-top: 16px;
}

.filter-range-control {
  font-weight: 400;
  line-height: 24px;
  text-align: right;
}

.catalog-filter-submit {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  width: Fill (191px);
  height: Hug (36px);
  padding: 8px, 50px, 8px, 50px;
  border-radius: 4px;
  gap: 10px;
  background: #82b3d3;
  cursor: pointer;
}

.catalog-filter-reset {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  width: 191px;
  height: 36px;
  padding: 8px 50px 8px 50px;
  border-radius: 4px;
  gap: 10px;
  background: transparent;
  cursor: pointer;
}

.sorting-container {
  display: flex;
  margin: 50px 70px 40px 70px;
  padding: 0;
  height: 49px;
}

.catalog-products-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.select-control {
  display: flex;
  margin-left: 200px;
  text-align: left;
}

.view-buttons {
  display: flex;
  margin-left: 70px;
  width: 48px;
  height: 48px;
  padding: 14px 12px 14px 12px;
  border-radius: 4px;
  border: 2px;
  gap: 10px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  list-style-type: none;
  margin: 40px 70px 80px 70px;
  padding: 0;
  gap: 20px;
}

.product-card {
  display: grid;
  grid-template-rows: 232px 28px 21px 36px 57px;
  grid-template-columns: repeat(2, 140px);
  gap: 16px 20px;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  justify-content: center;
}

.product-card-image {
  padding-top: 20px;
}

.product-card-title {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
}

.product-card-link {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: #000000;
  text-decoration: none;
}

.product-card-type {
  text-align: left;
  margin: 0;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.product-card-price {
  text-align: right;
  margin: 0;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.product-card-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  padding-top: 8px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  background: #756157;
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.add-favorite-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  padding-top: 8px;
  border-radius: 4px;
  background: #82b3d3;
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.add-favorite-button:hover {
  background: #7db54f;
}

.product-card-stars-2 {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
  background-image: url("../images/rating-star-2.svg");
  background-position: left;
  margin: 0 0 20px 0;
  background-repeat: no-repeat;
}

.product-card-stars-3 {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
  background-image: url("../images/rating-star-3.svg");
  background-position: left;
  margin: 0 0 20px 0;
  background-repeat: no-repeat;
}

.product-card-stars-4 {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
  background-image: url("../images/rating-star-4.svg");
  background-position: left;
  margin: 0 0 20px 0;
  background-repeat: no-repeat;
}

.product-card-raiting {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  padding-top: 9px;
  margin-bottom: 20px;
  border-radius: 4px;
  background: #f2f2f2;
  grid-column: 2 / 3;
  grid-row: 5 / 6;
}

.pagination {
  display: flex;
  gap: 8px;
  margin: 40px 70px 60px 70px;
  padding: 0;
  list-style-type: none;
}

.pagination-current {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  background: #f2f2f2;
  text-decoration: none;
  padding: 11px 20px 11px 20px;
  border-radius: 4px;
}

.pagination-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  background: #82b3d3;
  text-decoration: none;
  padding: 11px 20px 11px 20px;
  border-radius: 4px;
}

.pagination-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #000000;
  background: #ffffff;
  text-decoration: none;
  padding: 16px 20px 16px 20px;
}

.pagination-item:last-of-type .pagination-link {
  padding: 11px 15px 11px 15px;
}

.subscribe-title-catalog {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin: 96px 398px 0 398px;
}

.subscribe-description-catalog {
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  text-align: center;
  margin: 20px 362px 0 362px;
}

.subscribe-form-name {
  text-align: left;
}

.field {
  background-color: #f2f2f2;
}

/* catalog footer */

.page-footer-container {
  display: flex;
  margin: 70px;
  width: 1060px;
  justify-content:space-between;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}
