@font-face {
  font-family: "PTk Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0;
  color: #000000;
  background-color: #ffffff;
  width: 1200px;
}

/* header */

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #000000;
  text-decoration: none;
}

.navigation-user-link-favorite {
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  background: #7db54f;
}

.header-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  width: 160px;
  height: 36px;
  padding: 8px, 50px, 8px, 50px;
  border-radius: 4px;
  gap: 10px;
  text-decoration: none;
  text-transform: uppercase;
}

/* main */

.hero {
  background-image: url("../images/divider-vector.svg"), url("../images/index-background.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: left bottom, left top;
}

.lead {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-item-wide {
  width: 1200px;
  background-color: #82b3d3;
}

.advantages-item-wide .advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-item-wide .advantages-description {
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-item {
  width: 1200px;
  background-color: #83b3d31f;
}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages-description {
  line-height: 21px;
  color: #000000;
}

.infrastructure-item {
  width: 1200px;
  background-color: #83b3d31f;
}

.infrastructure-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.infrastructure-description {
  text-align: center;
}

.infrastructure-item-light {
  width: 1200px;
  background-color: #ffffff;
}

.infrastructure-title-light {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.infrastructure-description-light {
  text-align: center;
}

.search-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.search-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.search-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  margin-left: 412px;
}

.subscribe {
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  text-align: left;
}

.field {
  line-height: 24px;
  text-align: left;
}

.subscribe-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  width: Hug (232px);
  height: Hug (52px);
  left: 452px;
  padding: 8px, 50px, 8px, 50px;
  border-radius: 0, 4px, 4px, 0;
  gap: 10px;
  background: #82b3d3;
}

/* catalog */

.filters {
  background-image: url("../images/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
  color: #ffffff;
}

.breadcrumbs-home-link {
  font-size: 16px;
  text-align: left;
  color: #ffffff;
}

.breadcrumbs-link {
  font-size: 16px;
  text-align: left;
  color: #ffffff;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
} 

.catalog-filter-item {
  line-height: 23px;
  text-align: left;
  color: #ffffff;
} 

.filter-range-control {
  font-weight: 400;
  line-height: 24px;
  text-align: right;
}

.catalog-filter-submit {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  width: Fill (191px);
  height: Hug (36px);
  padding: 8px, 50px, 8px, 50px;
  border-radius: 4px;
  gap: 10px;
  background: #82b3d3;
}

.catalog-filter-reset {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  width: Fill (191px);
  height: Hug (36px);
  padding: 8px, 50px, 8px, 50px;
  border-radius: 4px;
  gap: 10px;
  background: transparent;
}

.catalog-products-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  text-transform: uppercase;
}

.select-control { 
  text-align: left;
}

.product-card-link {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: #000000;
  text-decoration: none;
}
.product-card-type {
  text-align: left;
}

.product-card-price {
  text-align: left;
}

.product-card-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  width: Fill (140px);
  height: Hug (36px);
  padding: 8px, 50px, 8px, 50px;
  border-radius: 4px;
  gap: 10px;
  background: #756157;
}

.add-favorite-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  width: 140px;
  height: 36px;
  padding: 8px, 50px, 8px, 50px;
  border-radius: 4px;
  gap: 10px;
  background: #82b3d3;
}

.product-card-raiting {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding-top: 9px;
  text-transform: uppercase;
  color: #333333;
  width: 140px;
  height: 37px;
  border-radius: 4px;
  background: #f2f2f2;
}

.pagination-current {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-decoration: none;
}

.pagination-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  background: #82b3d3;
  text-decoration: none;
}

.subscribe-title-catalog {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.subscribe-description-catalog {
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  text-align: left;
}

.subscribe-form-name {
  text-align: left;
}

/* catalog footer */

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

  
























